# Dependencies
node_modules
.pnpm-store
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
dist
build
coverage
.nyc_output

# Env
.env
!.env.example

# Prisma — manter migrations versionadas (removido ignore)
# prisma/migrations

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
